
body {
	width: 100%;
	background: transparent;
	color: #505050;
	font-family: 'Times New Roman', Times, serif, serif;
	font-weight: 300;
	font-size: 1.5em;
    line-height: 1.5em;
    padding-top: 100px;
    padding-right: 50px;
    padding-bottom: 100px;
    padding-left: 50px;
}
.banner {
	box-sizing: border-box;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	height: 700px;
	top: 0;
	right: 0;
    padding-bottom: 4%;
    width: 100%;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 400px;
    width: 100%;
    background-color: #505050;
    text-align: center;
}
.container {
    position: relative;
    text-align: center;
    color: white;
}
.v91cc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.logo {
    position: absolute;
    top: 8px;
    left: 16px;

}

.graphic {
    float: right;
    border: 1px dotted rgb(0, 0, 0);
    margin: 0px 0px 15px 20px;
}
.artcon{
    position: absolute;
    top: 8px;
    right: 16px;
}